{
  "schema_version": 1,
  "account_id": "<XIAOMI_ACCOUNT_ID>",
  "token": "<XIAOMI_GO2RTC_TOKEN>",
  "region": "cn",
  "camera_id": "xiaomi-camera-1",
  "host": "192.168.1.188",
  "did": "<XIAOMI_CAMERA_DID>",
  "model": "chuangmi.camera.ipc019"
}
